.body {
    background-image: url('https://wslider.github.io/detour365/images/tartoosh-sunset-trail.jpeg');
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;     
    min-height: 100vh; 
    background-color: #333a70;
    color:#ffffffdf;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    mix-blend-mode: difference; 
}
