     :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --campfireSmoke: #2f2e2eb3;
      --smokeyMountainMist: #b0c4de;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
      --midnightBlue: #001f3f;
      --transparentMidnight: #001f3f80;
    }

.body {
    background-image: url('https://wslider.github.io/detour365/images/tartoosh-sunset-trail.jpeg');
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;     
    min-height: 100vh; 
    background-color: var(--kentuckyNight);
    color:var(--mountainFog);
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    color: var(--mountainFog);
    text-shadow: 3px 3px 5px #000000a1;
}
