.body {
    background-image: url('https://wslider.github.io/detour365/rainier-night-sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: #00062f;
    color:#ffffffdf;
    font-family:Arial, Helvetica, sans-serif
}

.header {
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    color: #fffdff; 
}