     :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --campfireSmoke: #2f2e2eb3;
      --smokeyMountainMist: #b0c4de;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
      --midnightBlue: #001f3f;
      --transparentMidnight: #001f3f80;
    }

* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
        color: var(--mountainFog); 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
        min-height: 100vh;
    }   

.header {
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    text-align: center;
    text-shadow: 3px 3px 5px #000000a1;
    color: var(--mountainFog); 
    background-color: var(--transparentMidnight);
}

h1, h2, h3 {
    color: var(--mountainFog); 
}




/* Navigation menu base styles*/
        .topnav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative; 
            padding: 1rem 1.5rem;
            background-color: var(--midnightBlue);        
            color: var(--mountainFog);
            min-height: 10vh;
            width: 100%; 
        }
    
       

        .hamburger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        z-index: 1000;
        position: absolute;
        right: 1.5rem;
        top: 0.5rem;
        }

        
        .hamburger span {
        display: block;
        width: 28px;
        height: 3px;
        background: white;
        margin: 6px 0;
        transition: all 0.3s ease;
        }

        .navLinks {
        display: none;               
        flex-direction: column;
        left: 0;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        max-height: fit-content;
        }

        .navLinks a { 
            color: white;
            text-decoration: none;
            padding: 1rem 0;
            font-size: 1.4rem;
            border-bottom: 1px solid var(--blueRidgeParkway)
        }

        .nav-links a:hover, .nav-links a:focus {
        background: var(--stormCloud);
        }

        .navLinks.active {
            display: flex;
            flex-direction: column;
        }




.quoteContainer {
    margin: 20px;
    padding: 10px;
    border-left: 4px solid var(--stormCloud);
    background-color: var(--transparentMidnight);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--mountainFog);
    box-shadow: 5px 5px 15px #000000a1;
}

.footer {
    text-align: center;
    padding: 10px;
    color: var(--mountainFog);
    font-size: 1rem;
    text-shadow: 1px 1px 2px #000000a1;
    margin-top: auto;
}