/* global.css - Site-wide styles */

/* Global header element styling */

body {
    margin: 0;
    display: flex; 
    flex-direction: column;
}

.heading {
    display: flex; 
    flex-direction: row;
    height: 10vh;
    width: 90%; 
    box-sizing: border-box;
    margin: 3vh;
    justify-content: flex-start;
    align-items: center;
}

/* Global h1 styling */
h1 {
    font-size: 3rem;
    font-weight: 500; 
}

.logo {
    height: 5vh; 
    margin-right: 10vw; 
}

/* Navbar styling */
.navbar {
    width: 100%;
    min-height: fit-content; 
    font-size: 1.5rem; 
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    color: whitesmoke;
    margin-top: 3vh;
    margin-bottom: 3vh; 
    box-sizing: border-box;
}

/* Links */
a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: whitesmoke;
}

.main {
    display: flex; 
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

/* Form container */
.quoteContainer {
    width: 100%;
    font-size: 1.25rem;
    margin-top: 3vh;
    margin-bottom: 3vh; 
}

/* Quote styling */
.quote {
    text-align: center;
}

/* Main image */
#mainImage {
    width: 70%; 
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.footer {
    margin-bottom: 3vh;
    margin-top: 5vh; 
    text-align: center;
}